@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap');
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #77bcee 1.56%, rgba(255, 255, 255, 0) 100%),
    #cce2f2;
}
section {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 44px;
  font-weight: 500;
  line-height: 1.5;
}

section.time.div {
  padding: 0% 24px 36px 24px 36px;
  display: flex;
  justify-content: space-between;
}

section.times h2 :before {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  margin: 0 0.5em 0 0;
  vertical-align: -0.05em;
  transition: background-color 0.5s;
}

.newyork {
  position: absolute;

  top: 50%;
  text-align: center;
  margin-bottom: 20px;
}

.shanghai,
.vancouver,
.tokyo,
.item {
  display: none;
  position: absolute;
  left: 200px;
  top: 70%;
  text-align: center;
}
.t1 {
  position: fixed;
  width: 422px;
  height: 218px;

  left: 5%;
  font-family: Rammetto One;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 128px;
}
.t2 {
  position: fixed;
  width: 434px;
  height: 150px;
  left: 70%;
  top: 5%;

  font-family: "Rammetto One", cursive;
  /* font-style: normal;
  font-weight: normal; */
  font-size: 30px;
  line-height: 200%;
  text-align: right;
  letter-spacing: 0.365em;
}
.t3 {
  position: absolute;
width: 1218px;
height: 162px;
top: 190%;


font-family: "Rammetto One";
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 162px;
letter-spacing: 0.595em;

}
.t4 {
  position: absolute;
  width: 1218px;
  height: 162px;
  top: 190%;
  
  
  font-family: "Rammetto One";
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 162px;
  letter-spacing: 0.595em;
}
.sky{
  position: fixed;
width: 342px;
height: 62px;
left: 82px;
top: 286px;

font-family: 'Noto Serif SC', serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 61px;
letter-spacing: 0.365em;
}
.t5 {
  position: absolute;
width: 628px;
height: 138px;
left: 25%;
margin-left: 380px;


font-family: Rammetto One;
font-size: 64px;
line-height: 108px;
text-align: left;
}

.t6{
position: fixed;
width: 434px;
height: 150px;
/* right: 45%; */
margin-left: 890px;
margin-top: -600px;

font-family: 'Rammetto One', cursive;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 60px;
/* or 200% */

text-align: right;
letter-spacing: 0.365em;
}